*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: #f3f3f3;
}
#particles-js{
    height: 100%;
    background-color: black;
    color: red;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(27, 51, 62, 0.08);
}
.wrapper .left{
    width: 25%;
    height: 100%;
    background: rgba(28, 10, 10, 0.7);
    padding: 30px 25px;
    text-align: center;
    color: #fff;
}
.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
    border-radius: 50%;
    overflow: hidden;
}
.wrapper .left h4{
    margin-bottom: 10px;
}
.wrapper .right{
    padding: 30px 30px;
    width: 75%;
    height: 100%;
    background: rgba(255,255, 255, 0.6);
}
.wrapper .right .info , .wrapper .right .projects{
    margin-bottom: 45px;
    align-items: center;
    font-size: 30px;
}
.wrapper .right .info h3 , .wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: black;
    text-transform: uppercase;
    align-items: center;
}
.wrapper .right .info_data ,.wrapper .right .projects_data{
    display: flex;
    justify-content: space-between;
}
.wrapper .right .info_data .data ,.wrapper .right .projects_data .data{
    width: 45%;
}
.wrapper .right .info_data .data h4,.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 8px;
}
.wrapper .right .info_data .data p,.wrapper .right .projects_data .data p{
    font-size: 25px;
    margin-bottom: 10px;
    color:black;
}
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}
.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #a2a2a2;
    width: 550px;
    height: 350px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
.popup .close-btn{
    cursor: pointer;
    position:absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}